<div class="ggg">
    <div class="first-container">
        <h2>Lista de Produtos no Estoque</h2>
        <button type="button" class="button-add" (click)="modalAdicionarProduto()">+ Adicionar Produto</button>
    </div>
   <div class="container">
    <table class=" table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">ID do Produto</th>
            <th scope="col">Nome do Produto</th>
            <th scope="col" class="nomobile">Descrição</th>
            <th scope="col" class="notablet">Quantidade</th>
            <th scope="col" class="notablet">Preço</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody *ngIf="produtos$ | async as produtos">
          <tr class="selected"  *ngFor="let produto of produtos;">
            <td>
              <button class="button-view" (click)="modalEditarProduto(produto,false)"><i class="bi bi-eye"></i></button>
              <button *ngIf="produto.Quantidade < 4" class="button-view" (click)="modalAlertaProduto(true)"><i class="bi bi-exclamation-diamond"></i></button>
            </td>
            <th scope="row" id="select-all" class="num">
                {{produto.id}}
            </th>
            <th scope="row" id="select-all" class="num">
                {{produto.NomeProduto}}
            </th>
            <td >{{produto.Descricao}}
            </td>
            <td  >{{produto.Quantidade}}
            </td>
            <td   class="selectedProfile button">
              R${{produto.Preco}}
            </td>
            <td  class="container-butoes">
                <button class="button-editar" (click)="modalEditarProduto(produto,true)"> <i class="bi bi-pencil-fill"></i></button>
                <button class="button-excluir" (click)="modalExcluirProduto(produto)"> <i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
   </div>
</div>
