<div class="header">
    <img src="../../../assets/images/pincel (1).png" alt="ArteNaMao" class="logo">
    <button routerLink="produtos" style="background: none; border: none;">Produtos</button>
    <button routerLink="clientes" style="background: none; border: none;">Clientes</button>
    <button routerLink="vendas" style="background: none; border: none;">Vendas</button>
    <button  routerLink="financeiro" style="background: none; border: none; margin-right:2px ;">Financeiro</button>
    <button routerLink="" style="background: none; border: none;"><i class="bi bi-door-open"></i></button>
</div>
