.master {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-between;
}
.container{
 height: 90vh;
 width: 100%;
 padding: 0;
}


.headerApp {
  width: 100%;
}
