<form  [formGroup]="clienteForm" class="master">
    <div class="header">
        <h2>Dados do Cliente</h2>
    </div>
    <div class="container">
        <div class="double-container">
            <div class="line-container">
                <p><strong>Nome</strong></p>
                <div>
                    <input type="text" formControlName="nomeCliente">
                    <div
                *ngIf="
                  clienteForm.get('nomeCliente')?.errors &&
                  clienteForm.get('nomeCliente')?.touched
                "
                class="validators"
              >
                Insira o nome do cliente
              </div>
                </div>
            </div>
            <div class="line2-container">
                <p><strong>Sobrenome</strong></p>
                <div>
                    <input type="text" formControlName="sobreCliente">
                    <div
                *ngIf="
                  clienteForm.get('sobreCliente')?.errors &&
                  clienteForm.get('sobreCliente')?.touched
                "
                class="validators"
              >
                Insira o sobrenome do cliente
              </div>
                </div>
            </div>
        </div>
        <div class="double-container">
            <div class="line-container">
                <p><strong>CEP</strong></p>
                <div>
                    <input type="text" formControlName="cepCliente">
                    <div
                *ngIf="
                  clienteForm.get('cepCliente')?.errors &&
                  clienteForm.get('cepCliente')?.touched
                "
                class="validators"
              >
                Insira o CEP
              </div>
                </div>
            </div>
            <div class="line2-container">
                <p><strong>Telefone</strong></p>
                <div>
                    <input type="text" formControlName="phoneCliente">
                    <div
                *ngIf="
                  clienteForm.get('phoneCliente')?.errors &&
                  clienteForm.get('phoneCliente')?.touched
                "
                class="validators"
              >
                Insira o telefone do cliente
              </div>
                </div>
            </div>
        </div>
        <div class="double-container">
            <div class="line-container">
                <p><strong>Endereco</strong></p>
                <div>
                    <textarea formControlName="enderecoCliente" ></textarea >
                    <div
                *ngIf="
                  clienteForm.get('enderecoCliente')?.errors &&
                  clienteForm.get('enderecoCliente')?.touched
                "
                class="validators"
              >
                Insira o endereço do cliente
              </div>
                </div>
            </div>
            <div class="line2-container">
                <p><strong>Email</strong></p>
                <div>
                    <input type="text" formControlName="emailCliente">
                    <div
                *ngIf="
                  clienteForm.get('emailCliente')?.errors &&
                  clienteForm.get('emailCliente')?.touched
                "
                class="validators"
              >
                Insira o email do cliente
              </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-buttons">
        <button class="button-sair" (click)="Sair()">
            Sair
        </button>
        <button class="button-subscribe" (click)="Submit()" [disabled]="!clienteForm.valid" >
            Salvar
        </button>
    </div>
</form>
