.master{
    padding: 2%;
}

.container{
    border: 2px;
    border-style: solid;
    border-color: black;
}

h1{
    color: #ff6961;
}

.container-butoes{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.button-confirmar{
    background-color: #bfddf3;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    font-size: 1rem;
    width: 20%;
    padding: 5px;
}

.button-sair{
    background-color: #ff6961;
    color: white;
    border: 1px;
    width: 12%;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    font-size: 1rem;
    padding: 5px;
}