<form  [formGroup]="produtoForm" class="master">
    <div class="header">
        <h2>Informações do Produto</h2>
    </div>
    <div class="container">
        <div class="double-container">
            <div class="line-container">
                <p><strong>Nome do Produto</strong></p>
                <div>
                    <input type="text" formControlName="nomeProduto">
                    <div
                *ngIf="
                  produtoForm.get('nomeProduto')?.errors &&
                  produtoForm.get('nomeProduto')?.touched
                "
                class="validators"
              >
                Insira o nome do produto
              </div>
                </div>
            </div>
            <div class="line2-container">
                <p><strong>Pequena Descrição</strong></p>
                <div>
                    <input type="text" formControlName="descricaoProduto">
                    <div
                *ngIf="
                  produtoForm.get('descricaoProduto')?.errors &&
                  produtoForm.get('descricaoProduto')?.touched
                "
                class="validators"
              >
                Insira a descrição do produto
              </div>
                </div>
            </div>
        </div>
        <div class="double-container">
            <div class="line-container">
                <p><strong>Quantidade</strong></p>
                <div>
                    <input type="number" formControlName="quantidadeProduto" min="1" max="100" maxlength="5">
                    <div
                *ngIf="
                  produtoForm.get('quantidadeProduto')?.errors &&
                  produtoForm.get('quantidadeProduto')?.touched
                "
                class="validators"
              >
                Insira a quantidade do produto
              </div>
                </div>
            </div>
            <div class="line2-container">
                <p><strong>Preço</strong></p>
                <div>
                    <input type="number" formControlName="precoProduto" min="1" max="10000">
                    <div
                *ngIf="
                  produtoForm.get('precoProduto')?.errors &&
                  produtoForm.get('precoProduto')?.touched
                "
                class="validators"
              >
                Insira o preço do produto
              </div>
                </div>
            </div>
        </div>
        <div class="double-container">
            <div class="line-container">
                <p><strong>Descrição</strong></p>
                <div class="gg">
                    <textarea formControlName="grandeProduto" ></textarea >
                    <div
                *ngIf="
                  produtoForm.get('grandeProduto')?.errors &&
                  produtoForm.get('grandeProduto')?.touched
                "
                class="validators"
              >
                Insira a descrição exata do produto
              </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="container-buttons">
        <button class="button-sair" (click)="Sair()">
            Sair
        </button>
        <button class="button-subscribe" (click)="Submit()" [disabled]="!produtoForm.valid">
            Salvar
        </button>
    </div>
</form>

